section.profile {
	.banner {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(5, 3rem);

		.banner_bg_image {
			grid-column: 1/-1;
			grid-row: 1/5;
			background-image: url("https://picsum.photos/seed/picsum/600/300");
			background-position: center; 
			background-repeat: no-repeat;
			background-size: cover;
		}

		.banner_profile_image {
			grid-column: 2/3;
			grid-row: 3/-1;

			height: 9rem;
			width: 9rem;
			// background-color: var(--blue-primary);
			border-radius: 50%;
			justify-self: center;
			background-image: url("/assets/chalino.jpg");
			background-position: center; 
			background-repeat: no-repeat;
			background-size: cover;
		}
	}

	.info {
		text-align: center;

		.info_name {
			font-size: 2rem;
			font-weight: bold;
		}
	}
}